@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    font-family: "Roboto Serif", serif;
    line-height: 1.2;
}
button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    padding: 0 25px;
    background: #3882F6;
    border-radius: 8px;
    margin: 8px auto;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 60px;
}

/** Navigation Bar**/
.navbar{
    background-color: #1F2937;
    color: wheat;
    height: 60px;
}
.navbar a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;

}
.navbar ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
}
.navbar .logo{
    font-size: 24px;
    color: #F9FAF8;
}
    
.navbar .container{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

/** Header **/
.header{
    background-color: #1F2937;
    height: 350px;
    padding: 40px;
}

.header .container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 100%;
}
.header h2{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.header p{
    color: #E5E7EB;
    font-size: 18px;
    margin-top: 10px;
}

 .header .text{
    flex: 1;
    max-width: 550px;
 }
 .header img{
    flex: 1;
    max-width: 400px;
    height: auto;
 }

 /** Images Section **/
 .images-section{
    background-color: #fff;
    padding: 40px;
    text-align: center;
    color: #3c4c62;
    font-size: 18px;
    height: 400px;
 }
 
 .images-section .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
 }
 .images-section .images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
 }

 .images div{
    width: 180px;
 }
 .images img{
    border: 4px solid #4a8bf4;
    border-radius: 8px;
 }
 .images-section h3{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 20px;
 }

 /** Quote Section **/
.quote{
   height: 350px;
   background-color: #E5E7EB;
   padding: 80px 5px;
}
.quote .container{
    display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 25px;
}
.quote p{
    font-size: 36px;
   font-style: italic;
  color: #1F2937;
  align-self: center;
}
.quote h3{
    color: black;
   align-self:flex-end;
   margin-right: 20px;
}

 /** Sign up Section **/
 .signup{
    height: 280px;
    margin: 0;
    padding: 80px;
    color: white;
 }
 .signup .container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #3882F6;
    height: 120px;
    width: 900px;
    padding: 30px 100px;
    gap:100px;
 }
 .signup button{
    border: 2px solid white;
    margin: auto;
 }
 .signup h4{
    font-size: 22px;
    margin-bottom: 2px;
 }
 .signup p{
    font-size: 18px;
   font-weight: 100;
 }